@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins','BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Arial', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans TC', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */

/* colour palette */
/* darker grey - #cfdbd5 */
/* lighter grey - #e8eddf */
/* yellow - #f5cb5c */
/* darker black - #242423 */
/* lighter black - #333533 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins','BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Arial', sans-serif;*/
    font-family: 'Noto Sans TC', sans-serif;
}

p{
    font-weight: 300;
}

a{
    color: #333533;
}

a:hover{
    color: #f5cb5c;
}

hr {
    border: none;
    border-top: 0.5px solid;
    margin: 40px 0;
}

.app{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    flex: 1 1 0;
    max-width: 350px;
    padding: 2rem 1rem;
    color: #e8eddf;
    background-color: #242423;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

.sidebar img{
    width: 80px;
}

.logo img,
.logo span,
.logo p {
  display: inline-block;
}

.logo p{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    transform: translate(0, -50%);
}

/* english ver variations */
.logo span{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    padding-left: 15px;
    line-height: 2rem;
}

.en .logo p{
    font-size: 18px; 
    letter-spacing: 1.2px;
    transform: translate(-10%, 0);
}

.en .logo{
    padding: 15px 0;
}

.sidebar .details{
    line-height: 2.5rem;
    padding: 1rem;
}

.sidebar .details span{
    font-weight: 600;
    letter-spacing: 1px;
}

.sidebar .details p{
    font-weight: 100;
}

.sidebar .details a{
    text-decoration: none;
    color: #cfdbd5;
    padding-right: 10px;
}

.sidebar .details a:hover{
    color: #f5cb5c;
}

.sidebar .details i.fa-brands{
    line-height: 4rem;
    font-size: 2rem;
}

.sidebar .menu .menu-item{
    display: block;
    padding: 1em;
    color: #cfdbd5;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active{
    color: #f5cb5c;
    border-right: 5px solid #f5cb5c;
}

.sidebar .language{
    padding: 1rem;
}

.sidebar .language span.lang{
    padding-left: .5rem;
}

.sidebar .language span.lang:hover{
    color: #f5cb5c;
}

/* lang indicator */
.sidebar .language span.lang.is-active{
    color: #f5cb5c;
}

span.copyright{
    font-weight: 100;
    line-height: 2rem;
    padding: 1rem;
}

span.copyright a{
    color: #f5cb5c;
}

.content{
    flex: 1 1 0;
    padding: 2rem;
    margin-left: 350px;
    color: #242423;
    line-height: 2rem;
}

.content .logo{
    display: none;
}

.content h1{
    line-height: 5rem;
}

.main-content{
    width: 90%;
    margin: auto;
}

.main-content h1{
    padding: 20px 0;
}

.slide-container{
    position: relative;
    width: 90%;
    height: 550px;
    margin: auto;
    padding-top: 50px;
}

.slide-container .slides{
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    overflow: hidden;
}

.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.img-container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.img-container img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    padding: 14px;
    color: transparent;
    font-size: 300px;
    font-weight: 700;
    transform: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{
    right: 20px;
}

span.prev{
    left: 20px;
}

/* span.next:hover, span.prev:hover{
    color: red;
} */

.dots-container{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.dots-container .dot{
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border: 1px solid #242423;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-container .active{
    background-color: #242423;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}

@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

/* menu toggle */
.menu-toggle{
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #242423;
    cursor: pointer;
    z-index: 5;
}

.hamburger{
    position: relative;
    top: calc(50% - 2px); 
    left: 50%;
    transform: translate(-50%, -50%); /* position to center */
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #e8eddf;
    transition-duration: .25s;
}

.hamburger > span::before{
    content: '';
    top: -10px;
}

.hamburger > span::after{
    content: '';
    top: 10px;
}

.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

/* principles grid */
.item-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
  
.item{
    width: 250px;
    height: 450px;
    margin: auto;
}

.item .number{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #333533;
    text-align: center;
}

.item img{
    width: 70%;
    display: block;
    margin: 30px auto;
}

.item p{
    text-align: center;
    line-height: 2rem;
}

iframe.youtube{
    width: 100%;
    min-height: 500px;
}

/* online hymnal features grid */
.item-container.hymnal{
    grid-template-columns: repeat(auto-fit, 200px);
}

.hymnal .item{
    width: 150px;
    height: fit-content;
    margin-top: 0;
}

.hymnal .item img{
    width: 100%;
}

.hymnal .item .title{
    text-align: center;
    padding-bottom: 20px;
}


.hymnal .item p{
    text-align: left;
}

.hymnal .item li{
    font-weight: 300;
}

/* address & maps */
.address h2{
    line-height: 2.5rem;
}

.name{
    padding-bottom: 10px;
}

.chapter{
    display: grid;
    gap: 40px;
    grid-template-columns: 50% 50%;
    padding-bottom: 50px;
}

.gmap{
    width: 100%;
    height: 350px;
    border: 0;
}

.chapter img{
    width: 100%;
}

/* button */
.btn.var-1 {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333533;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn.var-1:hover {
    background-color: #f5cb5c;
  }

@media (max-width: 1024px){
    .sidebar{
        max-width: 200px;
    }
    .content{
        margin-left: 200px;
    }
    .chapter{
        display: block;
    }
    .gmap{
        padding: 30px 0;
    }
    .chapter.wahfu .address { display: table-header-group; } /* address details on top*/
    .chapter.wahfu .map { display: table-footer-group; } /* map on bottom*/
    .chapter.wahfu {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sidebar img{
        width: 60px;
    }  
    .logo p {
        font-size: 1rem;
    }
    .logo p{
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 2px;
        transform: translate(0, -50%);
    }
    /* eng ver */
    .logo span{
        font-size: 20px;
        padding-left: 15px;
        line-height: 1.5rem;
    }
    .en .logo p{
        font-size: .8rem; 
        transform: translate(-10%, 0);
    }
    .en .logo{
        padding: 15px 0;
    }
}

@media (max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
        z-index: 4;
    }
    .sidebar.is-active{
        left: 0;
    }
    .content{
        padding-top: 6rem;
        margin-left: 0;
    }
    .content .logo{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .content .logo img, 
    .content .logo p{
        display: inline-block;
    }
    .content .logo img{
        width: 100px;
    }
    .content .logo p{
        transform: translate(-5%, 50%);
    }
    .slide-container{
        height: 500px;
    }
    .img-container img{
        height: 450px;
    }
    .slide-container, .img-container{
        padding-top: 0;
    }
    iframe.youtube{
        min-height: 300px;
    }
}

@media (max-width: 640px){
    .slide-container{
        height: 400px;
    }
    .img-container img{
        height: 350px;
    }
}

@media (max-width: 480px){
    .slide-container{
        height: 350px;
    }
    .img-container img{
        height: 300px;
    }
    h1, h2{
        font-size: 1.2rem;
        line-height: 4rem;
    }
    .dots-container .dot{
        width: 8px;
        height: 8px;
        margin: 0 1.5px;
    }
    iframe.youtube{
        min-height: 150px;
    }
    .gmap{
        height: 200px;
    }
    .item-container.hymnal{
        grid-template-columns: repeat(auto-fit, 250px);
    }
    .hymnal .item{
        width: 250px;
    }
}


